@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
  width: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header"
    "imgppal imgppal imgppal imgppal imgppal"
    "content content content content content"
    "content2 content2 content2 content2 content2"
    "footer footer footer footer footer";
}

.logo {
  opacity: 1;
}

div .logo {
  display: grid;
  place-items: center;
  text-align: center;
}

nav {
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 11;
}
.btn {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  display: flex;
  width: 20px;
  height: 20px;
}

.btn span {
  width: 20px;
  height: 2px;
  background: #000;
  display: flex;
  position: absolute;
  transition: 0.3s;
}

.btn span:nth-child(1) {
  top: 20%;
}

.btn span:nth-child(2) {
  top: 70%;
}

.btn.is-active span {
  background: #fff;
}

.btn.is-active span:nth-child(1) {
  top: 50%;
  transform: rotate(-45deg);
}

.btn.is-active span:nth-child(2) {
  top: 50%;
  transform: rotate(45deg);
}

.menu {
  background: #171717;
  display: grid;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 100px;
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  background-attachment: scroll;
  font-family: Raleway thin;
}

.menu.is-active {
  opacity: 1;
  visibility: visible;
}

.menu__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.menu__item:not(:last-child) {
  margin-bottom: 30px;
}

.menu__link {
  position: relative;
  display: inline-flex;
  font-weight: 200;
  font-style: normal;
  font-size: 48px;
  color: #fff;
  text-decoration: none;
  text-align: left;
}

.menu__link:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 1px;
  background: #d3ba87;
  transition: 0.3s;
}

.menu__link:hover:after {
  width: 100%;
}

.menu__link a:hover {
  font-style: italic;
  color: #d3ba87;
}
header nav a:hover {
  font-style: italic;
  color: #d3ba87;
}
.header {
  grid-area: header;
}
header {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0, 7s;
  padding: 30px 30px;
  text-align: center;
  z-index: 2;
}

header.down {
  background: #fff;
  padding: 20px 20px;
}

.img-ppal {
  display: grid;
  grid-area: imgppal;
  grid-template-columns: 1fr;
  grid-column-start: 1;
  grid-column-end: 6;
  overflow: hidden;
  grid-template-areas: "overlay";
  
}
.slider ::after,
.slider::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  grid-area: imgppal;
}

.slider {
  grid-area: imgppal;
  grid-template-columns: 1fr;
  grid-column-start: 1;
  grid-column-end: 6;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.img-div{
  grid-area: overlay;
}
.tituloppal {
  grid-template-columns: 1fr;
  grid-column-start: 1;
  grid-column-end: 6;
  display: grid;
  grid-area: overlay;
  z-index: 1;
  
}



.tituloppal h1 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  font-family: "Italiana";
  font-weight: 100;
  font-size: 75px;
  text-align: center;
  color: #fff;
}

.img-div {
  display: grid;
 
  grid-area: imgppal;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-area: overlay;
  margin: 0;
  

  /*
 top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: scale-down-center 6s  infinite;*/
}

.banner {
  animation: banner 6s linear infinite;
}
.banner2 {
  animation: banner2 6s linear infinite;
}
.banner3 {
  animation: banner3 6s linear infinite;
}
.banner4 {
  animation: banner4 6s linear infinite;
}

@keyframes banner {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes banner2 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes banner3 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes banner4 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.text-focus-in {
  text-align: center;
  font-family: "Italiana";
  font-weight: 100;
  font-size: 35px;
  color: #fff;
  z-index: 1;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.content {
  display: grid;
  grid-area: content;
  justify-content: space-between;
  margin-top: 100px;
  grid-column-start: 2;
  grid-column-end: 5;
  font-size: 20px;
  line-height: 20px;
}

.calltoact {
  display: inline-flex;
  width: 100%;
  
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 5px 0px 5px 5px;
  margin-top: 50px;
  justify-content: end;
}
a:link {
  text-decoration: none;
}

.calltoacto a:visited {
  text-decoration: none;
}

.calltoacto a:hover {
  text-decoration: none;
}

.calltoacto a:active {
  text-decoration: none;
}

.calltoact h3 {
  margin-left: 10px;
  font-family: "Italiana";
  font-weight: 400;
}
.content2 {
  display: grid;
  grid-area: content2;
  justify-content: space-between;
  margin-top: 30px;
  grid-column-start: 2;
  grid-column-end: 5;
  margin-bottom: 200px;
  font-size: 15px;
  line-height: 20px;
}

.titulo h1 {
  display: grid;
  margin-bottom: 30px;
  line-height: 85px;
  font-size: 50pt;
  margin-top: 20px;
  font-family: "Italiana", serif;
  font-weight: 100;
  width: 1fr;
}

 .titulo2 h1 {
  display: grid;
  margin-bottom: 30px;
  line-height: 65px;
  font-size: 45pt;
  margin-top: 20px;
  width: 500;
  font-family: "Italiana", serif;
  font-weight: 100;
  letter-spacing: 2px;
}

.parrafos {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: normal;
  width: 700px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.parrafos p {
  padding-bottom: 30px;
}

.containercards {
  display: grid;
  gap: 60px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 20px;
  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.containercards2 {
  display: grid;
  
  gap: 60px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 20px;
  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.card {
  width: 1fr;
  height: auto;
  font-family: Raleway thin;
  font-size: medium;
}

.card p {
  width: 1fr;
  text-align: start;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: medium;
}

.card img {
  width: 1fr;
  height: 340px;
  object-fit: cover;
}

.card2 {
  width: 1fr;

  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-size: medium;
}

.card2 img {
  width: 1fr;
  height: 480px;
  object-fit: cover;
}

h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Italiana", serif;
  font-weight: 100;
  font-size: 30px;
  line-height: 30px;
}

footer {
  display: inline-flex;
  padding: 30px 30px 30px 30px;
  background-color: #000;
  justify-content: space-between;
  font-family: "Italiana", serif;
  font-weight: 100;
}

.footer {
  display: grid;
  grid-area: footer;
  vertical-align: middle;
}

h4 {
  color: #d3ba87;
  vertical-align: middle;
}

.redes {
  vertical-align: middle;
  display: inline-flex;
  flex-flow: row;
}

.btn-redes {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 0.2px solid #d3ba87;
  color: #d3ba87;
  overflow: hidden;

  text-align: center;
}

.btn-redes i {
  line-height: 50px;
  font-size: 20px;
  transition: 0.2s linear;
}

.btn-redes:hover i {
  transform: scale(1.3);
}

.copyright {
  display: inline-block;
  align-self: start;
  vertical-align: middle;
  line-height: 50px;
}
